
.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 576px) {
    width: 540px;
  }

  @media screen and (min-width: 768px) {
    width: 720px;
  }
  @media screen and (min-width: 992px) {
    width: 960px;
  }
  @media screen and (min-width: 1200px) {
    width: 1140px;
  }
  @media screen and (min-width: 1300px) {
    width: 1260px;
  }
  @media screen and (min-width: 1400px) {
    width: 1320px;
  }
  &.fluid{
    width: 100%;
  }
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &.justify-content-center{
      justify-content: center;
    }
    &.justify-content-between{
      justify-content: space-between ;
    }
    &.justify-content-around{
      justify-content: space-around;
    }
    &.align-items-center{
      align-items: center;
    }
}




@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc(100 /(12/ $i) ) * 1%;
    padding: 10px;
  }
}
@for $i from 1 through 12 {
  .col-sm-#{$i} {
    @media screen and  (min-width: 332px) {
      width: calc(100 /(12/ $i) ) * 1%;
      padding: 10px;
    }
  }
}
@for $i from 1 through 12 {
  .col-md-#{$i} {
    @media screen and  (min-width: 768px) {
      width: calc(100 /(12/ $i) ) * 1%;
      padding: 10px;
    } 
     
  }
}
@for $i from 1 through 12 {
  .col-lg-#{$i} {
    @media screen and  (min-width: 1200px) {
      width: calc(100 /(12/ $i) ) * 1%;
      padding: 10px;
    }
    
  }
}
@for $i from 1 through 12 {
  .col-xlg-#{$i} {
    @media screen and  (min-width: 1200px) {
      width: calc(100 /(12/ $i) ) * 1%;
      padding: 10px;
    }
     
  }
}

